$primaryColor: #4527a4;

.prefixNowEditing {
  outline: 2px solid $primaryColor;
}

.prefixInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.controller-width {
  width: 148px;
}
.panelInputFieldAddButton {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  button {
    span {
      margin-top: 5px;
      margin-right: 5px;
    }
  }
}
.width130 {
  width: 130px;
}
.width120 {
  width: 120px;
}
.components-base-control__label {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.4;
  text-transform: none !important;
  display: inline-block;
  margin-bottom: calc(3px) !important;
  padding: 0px;
}

.rgfr-panelDevice {
  position: relative;
  .rgfr-device {
    position: absolute;
    left: 60px;
  }
  .rgfr-unitControl {
    width: 70px;
  }
}
.rgfr-spinnerAlert {
  border-left: 2px solid orangered;
  padding-left: 10px;
}
.rgfr-signinLinkPanelWrapper {
  .components-base-control {
    margin-bottom: 0px !important;
  }
  small {
    font-size: 10px;
    text-transform: capitalize;
    color: #874747;
  }
}
